# Fichiers vscode :
.vscode


# Fichiers générés par PyCharm
.idea/
*.iml
*.iws
*.ipr

# Fichiers de sauvegarde et d'historique
*.bak
*.swp
*~

# Fichiers de configuration de l'environnement virtuel Python
venv/
env/
ENV/

# Fichiers de dépendances Python
lib/
libs/
pip-log.txt
pip-delete-this-directory.txt

# Fichiers de sortie et de construction
build/
dist/
*.egg-info/
*.pyc
*.pyo
*.pyd

# Fichiers d'environnement spécifiques
.env

# Fichiers de cache
__pycache__/

# Fichiers de documentation générés
docs/_build/

# Fichiers de configuration spécifiques à l'utilisateur
*.ini
*.iml
*.xml

# Fichiers de journalisation
*.log
logs/

# Fichiers d'authentification et de clés
*.key
*.pem
*.p12

# Fichiers pour les migrations de la base de données
migrations/

# Fichiers output
data_output

# openai env
.env

#les logs, Roberta
lightning_logs/
debug_model.lp
.gitignore
.gitignore
simchain.db
.streamlit/secrets.toml
data/capacity.xlsx
data/demand.xlsx
data/fixed_cost.xlsx
data/fixed_costs.xlsx
distribution/data/capacity.xlsx
distribution/data/demand.xlsx
distribution/data/detailed_report.csv
distribution/data/distances.csv
distribution/data/final_report.csv
distribution/data/fixed_cost.xlsx
distribution/data/freight_costs.xlsx
distribution/data/gps_locations.csv
distribution/data/order_lines.csv
distribution/data/total_costs.xlsx
distribution/data/uom_conversions.csv
distribution/data/variable_costs.xlsx
line_production/data/capacity.xlsx
line_production/data/demand.xlsx
line_production/data/detailed_report.csv
line_production/data/distances.csv
line_production/data/final_report.csv
line_production/data/fixed_cost.xlsx
line_production/data/freight_costs.xlsx
line_production/data/gps_locations.csv
line_production/data/order_lines.csv
line_production/data/total_costs.xlsx
line_production/data/uom_conversions.csv
line_production/data/variable_costs.xlsx
data/demand.xlsx
data/capacity.xlsx
utils.zip
data/fixed_cost.xlsx
predictions.7z
data/demand.xlsx
data/demand.xlsx
data/capacity.xlsx
